// 01EZTX9M3AWK0ZB16B6KYR56F1

// ======================================================
// Components :: Input Checkbox
// ======================================================

.input-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 39px;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  min-width: 97px;
  min-height: 24px;
  z-index: 0;
  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: rgba($black, 0.15);
    border-radius: 5px;

    &:after {
      content: '\e920';
      font-family: $font-family-icons;
      position: absolute;
      top: 2px;
      left: 5px;
      font-size: $font-size-base;
      color: rgba($black, 0.15);
    }
  }

  &__main {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .input-checkbox__checkmark:after {
      display: block;
      color: $white;
    }

    &:checked ~ .input-checkbox__checkmark {
      background-color: $green;
    }

    &:disabled ~ .input-checkbox__checkmark:after {
      display: none;
    }

    &:disabled ~ .input-checkbox__checkmark {
      background-color: rgb($black, 0.15);
    }

    &:disabled ~ .input-checkbox__title {
      color: rgb($black, 0.15);
    }
  }

  &__title {
    font-size: $font-size-base + 2;
    line-height: 24px;
    color: rgba($black, 0.4);
  }

  &-container {
    .input-checkbox__title {
      color: $red;
    }

    &__error {
      color: $red;
      font-size: $font-size-base;
      line-height: 1.3;
      display: block;
      margin-top: 8px;
    }
  }

  &--center {
    padding-left: calc(80% / 2);

    .input-checkbox {
      &__checkmark {
        left: calc((80% / 2) - 39px);
      }
    }
  }

  &--center-step4 {
    padding-left: calc(95% / 2);

    .input-checkbox {
      &__checkmark {
        left: calc((95% / 2) - 39px);
      }
    }
  }

  &--outline {
    padding-left: 0;
    min-width: auto;
    display: block;

    .input-checkbox {
      &__main {
        &:checked ~ .input-checkbox__wrapper {
          background-color: rgba($green-border, 0.15);
          border: 1px solid $green;
        }

        &:checked ~ .input-checkbox__wrapper .input-checkbox__checkmark {
          background-color: $green;
        }

        &:checked ~ .input-checkbox__wrapper .input-checkbox__checkmark:after {
          color: $white;
        }

        &:checked ~ .input-checkbox__wrapper .input-checkbox__title {
          color: $green-1;
        }

        &:disabled ~ .input-checkbox__wrapper .input-checkbox__checkmark:after {
          display: none;
        }

        &:disabled ~ .input-checkbox__wrapper .input-checkbox__checkmark {
          background-color: rgb($black, 0.15);
        }

        &:disabled ~ .input-checkbox__wrapper .input-checkbox__title {
          color: rgb($black, 0.15);
        }
      }

      &__checkmark {
        top: 15px;
        left: 12px;
      }

      &__wrapper {
        background-color: $white;
        border: 1px solid rgba($black, 0.15);
        border-radius: 8px;
        padding: 16.5px 12px;
        position: relative;
      }

      &__title {
        display: block;
        line-height: 21px;
        font-size: 16px;
        padding-left: 38px;
        color: rgba($black, 0.6);
      }
    }
  }
}

.check-title {
  .input-checkbox__title {
    color: rgba($black, 0.6);
  }
}
