// 01EZTX9M3AWK0ZB16B6KYR56F1

// ======================================================
// Components :: Page title
// ======================================================

.page-title {
  background-color: $green;
  position: relative;
  height: 48px;
  display: flex;
  align-items: center;

  &__text {
    text-align: center;
    color: $white;
    font-weight: $font-weight-bold;
    padding: 14px 0;
    line-height: 1.3;
  }

  &__back {
    position: absolute;
    top: 12px;
    left: 11px;
  }

  &__link {
    background-color: transparent;
    border: none;
    color: $white;
    font-size: $font-size-base + 1;
  }

  &__wrapper {
    text-align: center;
    display: flex;
    justify-content: center;

    .header-logo {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      img {
        height: 21px;
      }
    }
  }
}
