// 01EZTX9M3AWK0ZB16B6KYR56F1

// ======================================================
// Page :: Not-found
// ======================================================

.error-page {
  &__top {
    margin-top: 28px;
  }

  &__title {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: $green;
    margin: 11px 0 30px;
  }

  &__text {
    margin-bottom: 0;
    font-size: $font-size-base;
    color: rgba($black, 0.6);
    line-height: 21px;
  }

  &__button {
    padding: 60px 0;

    .btn--icon-right {
      min-width: 279px;
    }
  }
}
