// 01EZTX9M3AWK0ZB16B6KYR56F1

.contract {
  &-info {
    margin-top: 25px;
    font-family: $font-family-primary;

    .text-dark-gray {
      color: rgba($black, 0.5);
    }
  }

  &-card {
    &-list {
      &__item {
        &::before {
          content: '\2022';
          color: $black;
          font-weight: bold;
          display: inline-block;
          width: 6px;
          height: 6px;
          margin-right: 6px;
        }
      }
    }
  }
}
